parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#^Cannot call method \w+\(\) on PhpCsFixer\\Tokenizer\\Token\|null\.$#'
        - '#expects .?callable\(PhpCsFixer\\Tokenizer\\Token\|null\).+, Closure\(PhpCsFixer\\Tokenizer\\Token\).+ given\.$#'
    tmpDir: .cache/phpstan

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
