parameters:
    level: max
    paths:
        - src
        - tests
    stubFiles:
        - phpstan.phpstub
    tmpDir: .cache/phpstan

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
