parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            path: tests/FixerTestCase.php
            identifier: unset.possiblyHookedProperty
            count: 1
            reportUnmatched: false
        -
            path: tests/*
            identifiers:
                - instanceof.internalInterface
                - method.internalClass
                - method.internalInterface
                - new.internalClass
                - varTag.internalClass
    tmpDir: .cache/phpstan

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
